<html>
<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='add_edit.css') }}">
</head>
<body>

<div class="form-style-5">
<form action="{{url_for('newItem', name=category.name)}}" method = 'POST'>
<legend><span class="number">1</span> Add New Item - {{ category.name }}</legend>
<p>Name:</p><input type='text' size='30' name='name'>
<p>Description</p> <textarea name="description" rows="10" cols="100"></textarea>
<p>Price:</p><input type='text' size='30' name='price'>

<input type='submit' value='Create'>

</form>

</body>
</html>