<!doctype html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
		<meta charset="utf-8">
		<title>Car Sales Catalog</title>
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" type="text/css">
	</head>
	<body>
		<div class="navbar">
  			<a href="#home" class = "column-left">Car Sales Catalog</a>
  			{% if username %}
  			<span class= "column-right">
				<a href="{{ url_for('disconnect') }}"><img class = "img_logo" src="{{ usr_img }}" alt="{{ username }}">  Logout</a>
   			</span>
  			{% else %}
  			<div class= "column-right">
  				<a href="{{ url_for('showLogin') }}"><i class=" fa fa-sign-in" aria-hidden="true"></i> Login</a>
  			</div>
  			{% endif %}
		</div>
		<div class="main">
			<section id="body" class="width">
				<aside id="sidebar" class="column-left">
					<header>
						<h1><a href="#">Categories</a></h1>
					</header>
					<nav id="mainnav">
  						<ul>
                    		<li><a href="{{ url_for('categoryItems') }}">Home</a></li>
                     		{% for i in allcategory %}
    						<li><a href="{{url_for('selectCategory', name=i.name)}}"> {{i.name}} </a></li>
    						{% endfor %}
						</ul>
					</nav>
				</aside>
				<section id="content" class="column-right">
<!--MESSAGE FLASHING EXAMPLE -->
						{% with messages = get_flashed_messages() %}
						{% if messages %}
						<ul>
						{% for message in messages %}
  						<li><strong>{{message}}</strong></li>
  						{% endfor %}
						</ul>
						{% endif %}
						{% endwith %}

						{% if category.name %}
						<a href="{{ url_for('newItem', name=category.name) }}" class="button button-submit column-right ">Add New Item</a>
						{% endif %}
						{% for i in items %}
						<article>
							<h2>{{i.name}}</h2>
							<div class="article-info">Created by <a href="#" rel="author">{{i.created_by}}</a></div>
							<p>{{i.description}}</p>
							<h3><strong>Cost:</strong> {{i.price}} </h3>
							{% if i.created_by == user_email %}
							{% if category.name %}
							<a href="{{ url_for('editItem', name=category.name, item_id=i.item_id) }}" class="button button-reversed">Edit Item</a>
							<a href="{{ url_for('deleteItem', name=category.name, item_id=i.item_id) }}" class="button">Delete Item</a>
							{% endif %}
							{% endif %}
						</article>
						{% endfor %}
						<footer class="clear">
							<p>&copy; 2017 Item Catalog. <a href="https://vishyarjun.github.io/">Visit Developer</a></p>
						</footer>
				</section>
				<div class="clear"></div>
			</section>
		</div>
	</body>
</html>
